<div>
<h1>Welcome to {{title}}!</h1>
<div *ngIf="connected">
  Connected
  <button mat-flat-button [color]="'primary'" (click)="disconnect()">Disconnect</button>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf = "!connected">
  <div fxFlex="50">
    <ncats-fel-form
      [questions]="questions"
      (formReturner)="setForm($event)"
      ></ncats-fel-form>
    <br>
    <button mat-raised-button (click)="connect()" [disabled]="!form.valid">Connect</button>&nbsp;
    <button mat-raised-button (click)="clearForm()" [color]="'warn'">Clear</button>
    <br>
    <br>
  </div>
</div>
<ncats-fel-app-content></ncats-fel-app-content>

<div *ngIf = disease fxLayout="row">
  <h1>{{disease.name}}</h1>
</div>
<div *ngIf = disease fxLayout ="row wrap" fxLayoutAlign="space-around start">
<div *ngFor = 'let field of fields' fxFlex="60">
<mat-card>
  <mat-card-header>{{field | titlecase}}</mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label ='Data'>
        <gard-data-display [property]= disease[field]></gard-data-display>
<!--
        <div [innerHTML] = disease[field]></div>
-->
      </mat-tab>
      <mat-tab label ='Notes'></mat-tab>
      <mat-tab label ='References'></mat-tab>
    </mat-tab-group>
    <mat-card-actions>
      <button mat-stroked-button [color]="'primary'">Edit</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
</div>
</div>
