<h1>Welcome to {{title}}!</h1>
<ncats-fel-idg-tdl-indicator [level]="'Tbio'"></ncats-fel-idg-tdl-indicator>
<ncats-fel-idg-tdl-indicator [level]="'Tdddio'"></ncats-fel-idg-tdl-indicator>
<ncats-fel-idg-tdl-indicator [level]="'Tdark'" [disabled]="true"></ncats-fel-idg-tdl-indicator>

<ncats-fel-login-button></ncats-fel-login-button>
<ncats-fel-app-content></ncats-fel-app-content>
<!--
<ncats-frontend-library-filter-panel [facets]="facets" [expandable]="true"></ncats-frontend-library-filter-panel>
-->
<!--
<ncats-fel-facet-table [facet]="facets[0]"></ncats-fel-facet-table>
-->


{{disease | json}}
